
/* edit defaults for all objects */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    --border: 5px solid black;
    --font-size: clamp(1.25rem, 3vh, 3rem);
    --gap: 10px;

    display: flex;
    flex-direction: column;

    padding: 20px;
    gap: var(--gap);
    height: 100vh;
    width: 100vw;
}

/* ---------- title ---------- */
.title {
    text-align: center;
}

.title > h1 {
    color: red;
}


/* --------- header --------- */
.header {
    display: flex;
    gap: var(--gap);
    font-size: var(--font-size);
}

.scoreBoard {
    display: flex;
    flex: 1;
    border: var(--border);
}

.header > .scoreBoard > button {
    flex:1;
    font-size: var(--font-size);
}

.header > .scoreBoard > .variableDisplay {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#time {
    color: red;
}

.header > .recordDisplay {
    border: var(--border);
}

#recordList {
    margin: 10px 0px;
    padding-left: 40px;
    padding-right: 10px;
}


/* ------------ playboard ------------ */
.playBoard {
    display: flex;
    flex: 1;
    position: relative;
    border: var(--border);
}

.target {
    background-color: red;
    position: absolute;
}

.point {
    position: absolute;
    text-align: center;
    font-size: var(--font-size);
}